<template>
  <div class="w-full h-full">
    <nav class="h-12 flex flex-row items-center justify-center shadow-md bg-gray-800 text-white">
      <div>
        <h1 class="text-2xl"><n-link to="/">COVID-19 Symptom Checker</n-link></h1>
      </div>
    </nav>
    <div className="pt-12">
      <nuxt />
    </div>
  </div>
</template>

<style lang="scss">
  html, body, #__nuxt, #__layout {
    @apply h-full w-full;
  }
</style>