<template>
  <div class="flex flex-row justify-center pt-10">
    <div class="w-1/2 shadow-lg shadow rounded p-10 text-center">
      Please fill in your symptoms for today so we can keep track.
      <form class="my-4 flex flex-col w-1/2 ml-auto mr-auto">
        <div class="flex flex-col mb-2">
          <b class="mb-2">How are you feeling today?</b>
          <div class="flex flex-row items-center">
            <input class="mr-2" type="radio" id="good" name="feeling" v-model="feeling" value="good">
            <label for="good">Good</label>
          </div>

          <div class="flex flex-row items-center">
            <input class="mr-2" type="radio" id="average" name="feeling" v-model="feeling" value="average">
            <label for="average">Average</label>
          </div>

          <div class="flex flex-row items-center">
            <input class="mr-2" type="radio" id="bad" name="feeling" v-model="feeling" value="bad">
            <label for="bad">Bad</label>
          </div>
        </div>
        <div class="flex flex-col mb-2">
          <b class="mb-2">Do you have any of the following symptoms</b>
          <div class="flex flex-row items-center">
            <input class="mr-2" type="checkbox" id="sorethroat" name="sorethroat" v-model="sorethroat">
            <label for="sorethroat">Sore Throat</label>
          </div>
          
          <div class="flex flex-row items-center">
            <input class="mr-2" type="checkbox" id="drycough" name="drycough" v-model="drycough">
            <label for="drycough">Dry Cough</label>
          </div>

          <div class="flex flex-row items-center">
            <input class="mr-2" type="checkbox" id="fever" name="fever" v-model="fever">
            <label for="fever">Fever</label>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <button
            class="border flex-grow border-gray-700 border-solid hover:bg-gray-400 py-2 px-4"
            type="button"
            @click="submit"
          >Submit</button>
        </div>
      </form>

      <div
        v-if="sent"
        class="text-green-600 text-center"
      >We've sent you an email, if it didn't arrive, please check your spam or try again.</div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (!this.$route.query.token) {
      this.$router.push("/");
    }
  },
  data: () => {
    return {
      feeling: null,
      sorethroat: false,
      drycough: false,
      fever: false
    };
  },
  methods: {
    async submit() {
      debugger;
      console.log(this);
      // @TODO Submit
    }
  }
};
</script>