<template>
  <div class="flex flex-row justify-center pt-10">
    <div class="w-1/2 shadow-lg shadow rounded p-10 text-center">
      Enter your email and we'll send you a daily symptom checking link so you can track how you feel.
      <form class="my-4 flex flex-col w-1/2 ml-auto mr-auto">
        <div class="flex flex-row mb-2">
          <input
            placeholder="Email Address"
            class="px-4 py-2 flex-grow border border-solid border-gray-700"
            name="email"
            type="email"
            v-model="email"
            required
          />
        </div>
        <div class="flex flex-row">
          <button
            :disabled="email === null || email === undefined"
            class="border flex-grow border-gray-700 border-solid hover:bg-gray-400 py-2 px-4"
            type="button"
            @click="submit"
          >Submit</button>
        </div>
      </form>

      <div
        v-show="sent"
        class="text-green-600 text-center"
      >We've sent you an email, if it didn't arrive, please check your spam or try again.</div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      email: null,
      sent: false
    };
  },
  methods: {
    async submit() {
      const result = await this.$axios.post("/send-user-entry-email", {
        email: this.email
      });

      this.sent = true;
    }
  }
};
</script>
